<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceDir" value="D:\ttt\" />
		<add key="DestDir" value="D:\ttt-backup\" />
		<add key="Hours" value="22" />
		<add key="Minutes" value="1" />
		<add key="AutoStart" value="0" />
		<add key ="overwriteExistingFile" value="true"/>
	</appSettings>
</configuration>